body{
    color: #ccc8db;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* left-side */
.left-side{
    background-color: #151728;
    width: 260px;
    border-right: 1px solid #272a3a;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.logo{
    font-size: 15px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    font-weight: 600;
    height: 60px;
    line-height: 68px;
    letter-spacing: 4px;
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom, #151728 0%, #151728 76%, rgba(21, 23, 40, 0) 100%);
}
.slide-wrapper-1{
    padding: 30px;
}
.slide-wrapper-2{
    padding: 30px;
}
.side-title{
    font-family: "DM Sans", sans-serif;
    color: #5c5e6e;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.side-menu{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    white-space: nowrap;
}
.side-menu a{
    text-decoration: none;
    display: flex;
    color: #9c9cab;
    text-align: center;
    white-space: nowrap;
    transition: transform .5s;
}
.side-menu svg {
    width: 16px;
    margin-right: 16px;
}
.side-menu a:not(:last-child) {
    margin-bottom: 20px;
}
.side-menu a:hover{
    color: #fff;
    transform: translateX(10px);
    transition: transform .5s;
}
.follow-me{
    text-decoration: none;
    font-size: 14px;
    display: flex; 
    height: 52px;
    padding: 0 20px;
    align-items: center;
    margin-top: auto;
    overflow: hidden;
    color: #9c9cab;
    border-top: 1px solid #272a3a;
    position: relative;
}
.follow-text{
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.follow-me svg{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.developer{
    position: absolute;
    color: #fff;
    left: 0;
    top: -100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #272a3a;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.developer img {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    object-fit: cover;
    margin-right: 10px;
}
.follow-me:hover .follow-text {
    transform: translateY(100%);
}
.follow-me:hover .developer {
    top: 0;
}
/* right side */
.right-side{
    width: 280px;
    background-color: #151728;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    overflow: auto;
}
.account{
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #151728;
}
.account-btn{
    border: 0;
    background: 0;
    color: #64677a;
    padding: 0;
    position: relative;
    cursor: pointer;
    width: 20px;
}
.account-btn:not(.right-account-btn) + .account-btn::before{
    content: " ";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1b86f8;
    top: -2px;
    right: 0;
}
.account-user{
    display: inline-flex;
    align-items: center;
    color: #64677a;
    font-weight: 600;
}
.account-profile{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 0 10px;
}
.stories{
    border-bottom: 1px solid #272a3a;
}
.user{
    margin-top: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.stories .user-img{
    border: 2px solid #e2b96c; 
}
.user-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}
.user-name{
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
}
.stories .album-date {
    margin-top: 4px;
    font-size: 15px;
    color: #595c6c;
}
.contacts .user-name{
    display: flex;
    align-items: center;
    flex: 1;
}
.user-status{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #7fd222;
    margin-left: auto;
}
.user-status.offline{
    background-color: #606a8d;
}
.user-status.idle{
    background-color: #dd1c20;
}
@media (max-width: 991px){
    .back-div-left{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-100%);
        transition: all 1s;
    }
    .close-back-div-left{
        background-color: rgba(0,0,0,0.3);
        transform: translateX(260px);
        transition: all 1s;
    }
    .left-side{
        width: 56px;
        overflow: hidden;
        transition: all 1s;

    }
    .open{
        /* position: fixed;
        top: 0;
        bottom: 0;
        left: 0; */
        background-color: #151728;
        width: 260px;
        transition: all 1s;
        overflow: auto;
    }
    
   
    .left-side-button{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        cursor: pointer;
        position: relative;
        height: 60px;
        background-color: rgba(39, 42, 58, 0.5);
        border: 0;
        padding: 0;
        line-height: 0;
        border-bottom: 1px solid #272a3a;
    }
    .left-side-button svg{
        width: 24px;
        transition: 0.2s;
    }
    .hamb-opacity{
        opacity: 0 !important;
    }
    .hamb{
        opacity: 1;
    }
    .felesh-opacity{
        opacity: 1 !important;
    }
    .felesh{
        position: absolute;
          opacity: 0;
    }
    .logo{
        display: flex;
        align-items: center;
        transform: rotate(180deg);
        transform-origin: bottom;
        writing-mode: vertical-lr;
        transition: all .2s;
        position: sticky;
        top: 0;
    }
    .logo-open{
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        transform: none;
        writing-mode: lr;
        transition: all .2s;
    }
    .slide-wrapper-1{
        opacity: 0;
    }
    .slide-wrapper-1-opacity{
        opacity: 1;
    }
    .slide-wrapper-2{
        opacity: 0;
    }
    .slide-wrapper-2-opacity{
        opacity: 1;
    }
    .follow-me-opacity{
        opacity: 1 !important;
    }
    .follow-me{
        opacity: 0;
    }
    
}
@media (max-width: 767px){
   

}
@media (max-width: 575px){
    
}